/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(135deg, #d1a9ff, #a786ff); /* Light purple gradient background */
    color: #333;
}

header {
    background-color: #2b0741;
    padding: 40px 0;
    text-align: right;
    

}

header nav ul {
    list-style: none;
   
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 1;
    font-size:18px;
}
header nav ul li::after {
    content:'';
    width:0%;
    height:2px;
    background: #ede8f1;
    display: block ;
    margin: auto;
    transition:0.5s;
}
header nav ul li:hover::after{
    width:100%;
}
/* Gallery Section */
.gallery-section {
    text-align: center;
    padding: 50px 20px;
}

.gallery-section h1 {
    font-size: 2.2em;
    font-weight: 700;
    color: #2E0B46;
    margin-bottom: 20px;
}

.gallery-grid {
    display: flex;
    color: white;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.gallery-item {
    background-color: #2E0B46;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    color:white;
}

.caption {
    color: #FFF;
    padding: 15px;
    font-size: 0.9em;
}

/* Footer */
footer {
    background-color: #2E0B46;
    color: #FFF;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    margin-top: 40px;
}
